@model IEnumerable<Práctica8EjerciciosDeAccesoADatos.Models.Alquilere>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
    <a asp-action="MarcarEntregado" class="btn btn-success">Marcar Entregado</a> <!-- Agrega este enlace -->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Copia
            </th>
            <th>
                Fecha de Alquiler
            </th>
            <th>
                Fecha Tope
            </th>
            <th>
                Fecha Entregada
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.IdClienteNavigation != null)
                    {
                        @Html.DisplayFor(modelItem => item.IdClienteNavigation.Nombre)
                    }
                </td>
                <td>
                    @if (item.IdCopiaNavigation != null && item.IdCopiaNavigation.IdPeliculaNavigation != null)
                    {
                        @Html.DisplayFor(modelItem => item.IdCopiaNavigation.IdPeliculaNavigation.Titulo)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAlquiler)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaTope)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEntregada)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a> |
                    <a asp-action="MarcarEntregado" asp-route-id="@item.Id" class="btn btn-success">Marcar como Entregado</a>
                </td>
            </tr>
        }
    </tbody>
</table>
