@model IEnumerable<ObligatorioProg3.Models.Menu>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2><b>Platillos</b></h2>
                        </div>
                        <div class="col-xs-6">
                            <a href="@Url.Action("Create")" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Agregar nuevo Menu</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.NombrePlato)</th>
                            <th>@Html.DisplayNameFor(model => model.Descripción)</th>
                            <th>@Html.DisplayNameFor(model => model.Precio)</th>
                            <th>@Html.DisplayNameFor(model => model.Restaurante)</th>
                            <th>Gestion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.NombrePlato)</td>
                                <td>@Html.DisplayFor(modelItem => item.Descripción)</td>
                                <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                                <td>@Html.DisplayFor(modelItem => item.RestauranteId)</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                    <a href="@Url.Action("Details", new { id = item.Id })" class="details" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Details">&#xE87C;</i></a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
